<div class="container">
  <h1 class="text-center">My meetings:</h1>

  <div class="row">
    <% if @meetings.count > 0 %>
      <% @meetings.reverse.each do |book| %>
        <div class: "card-book my-1 p-1">
          <img src="https://www.google.com/maps/d/thumbnail?mid=1vBbLJyEi7CrO3P8EsRPuiw1kCyY&hl=en" alt="map">
          <div class="card-book-infos">
            <h2><%= "#{meeting.date} #{meeting.time}" %></h2>
            <p><%= meeting.status %></p>
          </div>
        </div>
      <% end %>
    <% else %>
      <p class="text-center"><em>There aren't any meetings scheduled for now.</em></p>
    <% end %>
  </div>
</div>
