// Specific CSS for your home-page

.font-logo {
  font-family: 'Kanit', sans-serif;
  color: #c13f35;
  text-decoration: none;
  text-shadow: -1px 1px #545454;
  font-size: 48px;
}

.font-slogan {
  font-family: 'Courier Prime', monospace;
}
