<div class="text-center">
  <h1>My library</h1>
  <%= link_to "Add a book", new_copy_path, class: "btn btn-success my-4" %>
</div>
<% if @copies.size > 0 %>
  <div class="cards-grid">
    <% @copies.reverse.each do |copy| %>
      <%= render 'shared/bookcard', book: copy.book, copy: copy %>
    <% end %>
  </div>
<% else %>
  <p class="text-center"><em>There aren't any books available for this search. Try another one!</em></p>
<% end %>
