<div class="container">
  <div class="d-flex justify-content-center">
    <div class="col-12 col-md-8 text-center">
      <h1>Add a new book to your library</h1>
      <div class="scanner" data-controller="scanner">
        <div>
          <a class="btn btn-success" id="startButton">Scan Now</a>
        </div>
        <div id="scan-video">
        </div>
        <label>Result:</label>
        <pre><code id="result"></code></pre>
      </div>
      <!-- Button trigger modal -->
      <button type="button" class="btn btn-outline-warning" data-bs-toggle="modal" data-bs-target="#exampleModal">
        Launch demo modal
      </button>
      <!-- Modal -->
      <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              ...
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-warning" data-bs-dismiss="modal">Cancel</button>
              <button type="button" class="btn btn-success">Save this book</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <%= simple_form_for @book, url: copies_path, method: :post do |f| %>
    <%= f.input :isbn %>
    <div class='text-center'>
      <%= f.button :submit, "Add Book", class: "btn btn-success rounded" %>
    </div>
  <% end %>
</div>
