<div class="container">
  <div class="row justify-content-center">
    <div class="col-12 col-sm-4">
      <div class="form-add">
        <h1>Add a new book to your library</h1>
        <br>
        <%# form_with url: copies_path, method: :post do |f| %>
        <%= simple_form_for @book, url: copies_path, method: :post do |f| %>
          <%= f.input :isbn %>
          <div class='text-center'>
            <%= f.button :submit, "Add Book", class: "btn btn-success rounded" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
