<div class="container">
  <div class="d-flex justify-content-center">
    <div class="col-12 col-md-8 text-center">
      <h1>Add a new book to your library</h1>
      <div class="scanner" data-controller="scanner">
        <div>
          <a class="btn btn-success" id="startButton">Start</a>
          <a class="btn btn-warning" id="stopButton">Stop</a>
        </div>
        <div id="scan-video">
        </div>
        <label>Result:</label>
        <pre><code id="result"></code></pre>
      </div>
    </div>
  </div>
  <%= simple_form_for @book, url: copies_path, method: :post do |f| %>
    <%= f.input :isbn %>
    <div class='text-center'>
      <%= f.button :submit, "Add Book", class: "btn btn-success rounded" %>
    </div>
  <% end %>
</div>
