<div class="card-book">
  <%= link_to book_path(book, district: params[:district]) do %>
    <div class="card-cover">
      <img src="<%= book.cover_image %>" alt="book card">
    </div>
    <p><%= book.author %></p>
  <% end %>
  <% if defined?(copy) %>
    <div class="">
      <%= link_to copy_path(copy), class: "", data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} do %>
        <i class="fa-solid fa-trash-can"></i>
      <% end %>
    </div>
  <% end %>
</div>
