<div class="col g-3">
  <div class="card h-100">
    <%= link_to book_path(book, district: params[:district]) do %>
        <img src="<%= book.cover_image %>" class="card-img-top" alt="book card">
        <div class="card-body text-center">
          <p class="card-text"><small><%= book.author %></small></p>
        </div>
    <% end %>
  </div>
</div>
