<h3 class="text-center pt-4">Find books in your area</h3>
<div class="container">
  <div class="row mx-auto pb-4">
    <%= render partial: 'search_form', locals: { areas: @areas }%>
  </div>
</div>
<div id="search_results">
  <%= render partial: 'search_results', locals: { books: @books, query: "", area: @area } %>
</div>
