.card-book {
  overflow: hidden;
  height: 120px;
  background: #f6f6f6;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  text-decoration: none;
  color: black;
}

.book-box {
  height: 100%;
  width: 20%;
}

.card-book img {
  height: 100%;
  object-fit: cover;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.card-book h2 {
  font-family: 'Playfair Display', serif;
  font-size: 16px;
  font-weight: bold;
  margin: 0;
  text-decoration: none;
}

.card-book p {
  font-family: 'Rubik', sans-serif;
  font-size: 14px;
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
  text-decoration: none;
}

.card-book .card-book-infos {
  width: 80%;
  padding: 16px;
}
