
.cards-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 1rem;
  padding: 5% 10% 8% 10%;
}

.card-cover {
  height: 32vw;
}

@media (max-width: 768px) {
  .cards-grid {
    grid-template-columns: 1fr 1fr;
    padding: 5% 8% 8% 8%
  }

  .card-cover {
    height: 60vw;
  }
}


.card-book {
  overflow: hidden;
  align-items: center;
  text-decoration: none;
  color: black;
  display: flex;
  flex-direction: column;
  text-align: center;
  box-shadow: 5px 3px 15px rgba(0,0,0,0.3);
  margin: auto;
  border-radius: 0 8px 8px 0;
}

.card-book img {
  height: 100%;
  object-fit: cover;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.card-book h2 {
  font-family: 'Playfair Display', serif;
  font-size: 16px;
  font-weight: bold;
  margin: 0;
  text-decoration: none;
}

.card-book p {
  font-family: 'Rubik', sans-serif;
  font-size: 0.8rem;
  opacity: .7;
  text-decoration: none;
  margin-top: 0.6rem;
  margin-bottom: 0.6rem;
}

// .card-book .card-book-infos {
//   width: 80%;
//   padding: 16px;
// }
