.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.navbar-font-logo {
  font-family: 'Kanit', sans-serif;
  color: #c13f35;
  text-decoration: none;
  text-shadow: -1px 1px #545454;
  font-size: 36px;
}

.navbar-font-logo:hover {
  color: #c13f35;
}

.navbar-menu-style {
  font-family: 'Rubik', sans-serif;
  background: #e6e6e6;
  font-size: 14px;
  text-decoration: none;
}
