.navbar {
  overflow: hidden;
  background-color: #e6e6e6;
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
  z-index: 999;
}

.main {
  flex-grow: 0;
  margin-top: 80px; /* Add a top margin to avoid content overlay */
}

.navbar-font-logo {
  font-family: 'Kanit', sans-serif;
  color: #c13f35;
  text-decoration: none;
  text-shadow: -1px 1px #545454;
  font-size: 36px;
}

.navbar-font-logo:hover {
  color: #c13f35;
}

.navbar-menu-style {
  font-family: 'Rubik', sans-serif;
  background: #e6e6e6;
  font-size: 14px;
  text-decoration: none;
}
